{% extends "base.html" %}
{% block content %}

<style>

#myTable {
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
    text-align:center;
    vertical-align:middle
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#container{
    position: absolute;
    left: 15px;
    top: 100px;
}

* {
  box-sizing: border-box;
}

</style>

<div class="container" id="container">

    <div style="flex-direction: row; display: flex; justify-content: space-between">
        <button href="/get_retirement_panmp/{{district}}">Get Retirements</button>
        <button href="/get_tentwentythirty_panmp/{{district}}">Get Ten Twenty & Thirty</button>
    </div>

    <div id="div1">
        Block-Wise Employee Service Summary
    </div>

    <script>
        function name() {
        var district = "{{district}}";
        var source = "/district_table/"+district;
        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
    {
        var districtArray = json;

            $("#myTable").find("tbody").empty();

            var validDates = districtArray.filter(function (entry) {
                return entry["Name"] !== '';
            });

            //Looping through the valid dates JSON to assign age, years in service
            for (var i = 0; i < validDates.length; i++) {
                //Declaring moment.js dates
                var birthDate = moment(new Date(validDates[i]["Date of Birth"])).format("DD/MM/YYYY");
                var joiningDate = moment(new Date(validDates[i]["Date of Joining"])).format("DD/MM/YYYY");
                var retirementDate = moment(new Date(validDates[i]["Date of Retirement"])).format("DD/MM/YYYY");
                var today = moment();

                //Calculating the years in service, age
                var yearsInService = moment().diff(joiningDate, 'years');
                var ageOfEmployee = moment().diff(birthDate, 'years');

                if(moment(retirementDate).isAfter(today)) {
                    var retired = "yes";
                }

                else {
                    retired = "no";
                }

                validDates[i]["yearsInService"] = yearsInService;
                validDates[i]["Age Of Employee"] = ageOfEmployee;
                validDates[i]["Retired"] = retired;
            }

            validFilteredDates = validDates.filter(function (emp) {
                return emp.Retired !== "";
            });

            var aggregatedData = d3.nest()
                .key(function (d) {
                    return d.District;
                })
                .key(function (d) {
                    return d.Block;
                })
                .rollup(function (v) {
                    return {
                        "Below10": v.filter(function (v) { return v.yearsInService<10 }).length,
                        "10to20": v.filter(function (v) { return (v.yearsInService>=10 && v.yearsInService<20)}).length,
                        "20to30": v.filter(function (v) { return (v.yearsInService>=20 && v.yearsInService<30) }).length,
                        "Above30": v.filter(function (v) { return v.yearsInService>30 }).length
                    }
                })
                .entries(validFilteredDates);

            var tbl = $("<table class='table table-bordered table-dark' style='margin-left: auto;margin-right: auto;'/>").attr("id", "myTable");
            $("#div1").append(tbl);
            var hr = "<tr>";
            var th1 = "<th style='text-align:center;vertical-align:middle'>" + "Block" + "</th>";
            var th2 = "<th style='text-align:center;vertical-align:middle'>" + "District" + "</th>";
            var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Service Years <10" + "</th>";
            var th4 = "<th style='text-align:center;vertical-align:middle'>" + "Service Years 10-20" + "</th>";
            var th5 = "<th style='text-align:center;vertical-align:middle'>" + "Service Years 20-30" + "</th>";
            var th6 = "<th style='text-align:center;vertical-align:middle'>" + "Service Years Above 30" + "</th>";
            $("#myTable").append(hr + th1 + th2 + th3 + th4 + th5 + th6 );
            for (var j = 0; j < aggregatedData[0].values.length; j++) {
                var blockLink = aggregatedData[0].values[j].key;
                var url = '/block_beneficiaries/'+blockLink;
                var row = $('<tr></tr>').html('<td><a href="' + url + '">' +
                    aggregatedData[0].values[j].key + '</a></td>'+
                    '<td>'+aggregatedData[0].key+'</td>'+
                    '<td>'+aggregatedData[0].values[j].values["Below10"] +'</td>'+
                    '<td>'+aggregatedData[0].values[j].values["10to20"] +'</td>'+
                    '<td>'+aggregatedData[0].values[j].values["20to30"] +'</td>'+
                    '<td>'+aggregatedData[0].values[j].values["Above30"] +'</td>');
                  $("#myTable").append(row);
            }
                    $(document).ready(function () {
                        $('#BlockLink').click(function () {
                            this.href = '/block_beneficiaries/' + blockLink;
                        })
                    });
                }
            },
            error: function (e) {
                alert("error");
            }
        });
    }
        $(document).ready(function() {
        name();
    });

</script>
</div>
{% endblock %}
