<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

<style>
    h4{
        text-align: center;
        top: 13px;
        position: relative;
    }

    form{
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        top: 20px;
        position: relative;
    }

</style>

<body>
<h4 style="text-align: center;">Enter Employee Details</h4>

<form id="new-beneficiary" action="/update_employee/{{ emp_id }}" method="post">

    <div class="form-group">
          <label for="district">Select District:</label>
          <select class="form-control" style="text-align: center;" id="district" name="district">
            {% set districts = ['Ariyalur', 'Karur', 'Nagapattinam', 'Perambalur',
              'Pudukkottai', 'Thanjavur', 'Trichy','Tiruvarur', 'Dharmapuri',
              'Coimbatore', 'Erode', 'Krishnagiri', 'Namakkal', 'The Nilgiris', 'Salem',
              'Tiruppur', 'Dindigul', 'Kanyakumari', 'Madurai', 'Ramanathapuram', 'Sivaganga',
              'Theni', 'Thoothukudi','Tirunelveli', 'Virudhunagar', 'Chennai', 'Cuddalore', 'Kancheepuram',
              'Tiruvallur', 'Tiruvannamalai', 'Vellore','Viluppuram'] %}

            {% for district in districts %}
                <option value= "{{district}}">{{district}}</option>"
            {% endfor %}
          </select>
    </div>

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="name" style="display: block; width: 100%">
    </div>

    <div class="form-group">
        <label for="block">Block</label>
        <input type="text" id="block" name="block" style="display: block; width: 100%">
    </div>

    <div class="form-group">
    <span>
    <label for="panchayat">Select Panchayat</label>
        <input class="form-control" id="panchayat" name="panchayat">
    </span>
    </div>

    <div class="form-group">
    <span>
        <label for="center">Select Center</label>
        <input type="text" id="center" name="center" style="display: block; width: 100%">
    </span>
    </div>

    <div class="form-group">
        <label for="designation">What is the designation of Employee?</label>
          <select class="form-control" id="designation" name="designation">
            {% set designation = ['Cook', 'Cooking Assistant', 'Organiser'] %}
            {% for ch in designation %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
          </select>
    </div>

    <div id="date" style="display: inline;">
    <label for="DOB">Enter Date Of Birth</label>
    <input type="date" value="" id="DOB" onchange="CalculateAge()" name="DOB">

    <label for="Age" style="display: inline">Age of the Beneficiary</label>
    <input type="text" value="" id="Age" name="Age">
    </div>

    <div id="joining" style="display: inline;">
    <label for="joiningDate">Enter Date Of Joining</label>
    <input type="date" value="" id="joiningDate" onchange="CalculateYears()" name="joiningDate">

    <label for="serviceYears" style="display: inline">Years OF Service</label>
    <input type="text" value="" id="serviceYears" name="serviceYears">
    </div>

    <br><br>

    <div class="form-group">
        <label for="qualification">What is the qualification of Employee?</label>
          <select class="form-control" id="qualification" name="qualification">
            {% set qualification = ['None', 'Primary (1-5)', 'Secondary (6-10)', 'Higher-Secondary (11-12)', 'Under-Graduation', 'Post-Graduation'] %}
            {% for ch in qualification %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
          </select>
    </div>

    <label for="retirementDate">This Employee shall retire by?</label>
    <input type="date" value="" id="retirementDate" name="retirementDate">

    <button type="submit" class="btn btn-success">Update Employee Details</button>

</form>
</body>

<script>
            var source = "/employee_table/"+"{{emp_id}}";
            $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                console.log(json);
                document.getElementById("Name").value = json[0]["Employee Name"];
                document.getElementById("district").value = json[0]["District"];
                document.getElementById("block").value = json[0]["Block"];
                document.getElementById("panchayat").value = json[0]["Name of Village Panchayat"];
                document.getElementById("designation").value = json[0]["Designation"];
                document.getElementById("qualification").value = json[0]["Educational Qualification"];
                document.getElementById("center").value = json[0]["Name of the Center"];

                document.getElementById("DOB").valueAsDate = moment(json[0]["Date of Birth"], "m/dd/yyyy");

                var htmlDateBirth = moment(json[0]["Date of Birth"], "m/dd/yyyy").format("D");
                var htmlMonthBirth = moment(json[0]["Date of Birth"], "m/dd/yyyy").format("M");
                var htmlYearBirth = moment(json[0]["Date of Birth"], "m/dd/yyyy").format("YYYY");

                console.log(htmlDateBirth, htmlMonthBirth, htmlYearBirth);

        },
            error: function (e) {
                alert("error");
            }
        });

    function CalculateAge(){
        var today = new Date();
        var Date1 = document.getElementById("DOB").value;
        var designation = document.getElementById("designation").value;
        var birthDate = new Date(Date1);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        var year = birthDate.getFullYear();
        var month = birthDate.getMonth()+1;
        var day = birthDate.getDate();
        var retire;
        if(designation) {
            switch (designation){
                case 'Cook':
                    retire=58;
                    break;
                case 'Cooking Assistant':
                    retire=58;
                    break;
                case 'Organiser':
                    retire=60;
                    break;
                default:
                    retire=58;
            }
        }

        if (month < 10) {
            month = '0'+month;
        }

        if (day < 10) {
            day = '0'+day;
        }

        year = year + retire;

        var retirementDate = year+"-"+month+"-"+day;
        document.getElementById("Age").value = age;
        document.getElementById("retirementDate").value = retirementDate;
    }

    function CalculateYears(){
        var today = new Date();
        var Date1 = document.getElementById("joiningDate").value;
        var joinDate = new Date(Date1);
        var years = today.getFullYear() - joinDate.getFullYear();
        var m = today.getMonth() - joinDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < joinDate.getDate())) {
            years--;
        }
    document.getElementById("serviceYears").value = years;
    }

</script>

{% endblock %}