<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

<style>
    h4{
        text-align: center;
        top: 13px;
        position: relative;
    }

    form{
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        top: 20px;
        position: relative;
    }

</style>

<body>
<h4 style="text-align: center;">Enter Employee Details</h4>

<form id="new-beneficiary" action="/update_employee/{{ emp_id }}" method="post">

    <div class="form-group">
          <label for="district">Select District:</label>
          <select class="form-control" style="text-align: center;" id="district" name="district">
            {% set districts = ['Ariyalur', 'Karur', 'Nagapattinam', 'Perambalur',
              'Pudukkottai', 'Thanjavur', 'Trichy','Thiruvarur', 'Dharmapuri',
              'Coimbatore', 'Erode', 'Krishnagiri', 'Namakkal', 'Nilgiris', 'Salem',
              'Tirupur', 'Dindigul', 'Kanyakumari', 'Madurai', 'Ramanathapuram', 'Sivagangai',
              'Theni', 'Thoothukudi','Thirunelveli', 'Virudhunagar', 'Chennai', 'Cuddalore', 'Kancheepuram',
              'Thiruvallur', 'Thiruvannamalai', 'Vellore','Villupuram'] %}

            {% for district in districts %}
                <option value= "{{district}}">{{district}}</option>"
            {% endfor %}
          </select>
    </div>

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="name" style="display: block; width: 100%">
    </div>

    <div class="form-group">
        <label for="block">Block</label>
        <input type="text" id="block" name="block" style="display: block; width: 100%">
    </div>

    <div class="form-group">
    <span>
    <label for="panchayat">Select Panchayat</label>
        <input class="form-control" id="panchayat" name="panchayat">
    </span>
    </div>

    <div class="form-group">
    <span>
        <label for="center">Select Center</label>
        <input type="text" id="center" name="center" style="display: block; width: 100%">
    </span>
    </div>

    <div class="form-group">
        <label for="designation">What is the designation of Employee?</label>
          <select class="form-control" id="designation" name="designation">
            {% set designation = ['Cook', 'Cooking Assistant', 'Cook Assistant', 'Organiser'] %}
            {% for ch in designation %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
          </select>
    </div>

    <div id="date" style="display: inline;">
    <label for="DOB">Enter Date Of Birth</label>
    <input type="date" value="" id="DOB" onload="CalculateAge()" onchange="CalculateAge()" name="DOB">

    <label for="Age" style="display: inline">Age of the Beneficiary</label>
    <input type="text" value="" id="Age" name="Age">
    </div>

    <div id="joining" style="display: inline;">
        <label for="joiningDate">Enter Date Of Joining</label>
    <input type="date" value="" id="joiningDate" onchange="CalculateYears()" onload="CalculateYears()" name="joiningDate">

    <label for="serviceYears" style="display: inline">Years OF Service</label>
        <input type="text" value="" id="serviceYears" name="serviceYears">
    </div>

    <br><br>

    <div class="form-group">
        <label for="qualification">What is the qualification of Employee?</label>
        <input type="text" id="qualification" name="qualification">

        <label for="retirementDate">This Employee shall retire by?</label>
        <input type="date" value="" id="retirementDate" name="retirementDate">
    </div>

    <div class="form-group">
        <label for="gender">What is the gender of Employee?</label>
          <select class="form-control" id="gender" name="gender">
            {% set designation = ['Vacant', 'Male', 'Female', 'Third Gender'] %}
            {% for ch in designation %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
          </select>

        <label for="community">What is the community of Employee?</label>
          <select class="form-control" id="community" name="community">
            {% set designation = ['Vacant', 'OC', 'BC', 'MBC', 'OBC', 'SC', 'ST'] %}
            {% for ch in designation %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
          </select>

        <label for="joiningDateCurrentPost">Current Post Joining Date</label>
        <input type="date" value="" id="joiningDateCurrentPost" name="joiningDateCurrentPost">
    </div>

    <div>
        <label for="nhis">NHIS ID</label>
        <input type="text" value="" id="nhis" name="nhis">

        <label for="gpf">GPF Number</label>
        <input type="text" value="" id="gpf" name="gpf">
    </div>

    <div>
        <label for="MOA">Mode of Appointment</label>
          <select class="form-control" id="MOA" name="MOA">
            {% set designation = ['Vacant', 'Direct', 'Compassion', 'Promotion'] %}
            {% for ch in designation %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
          </select>

        <label for="strength">Center Strength</label>
        <input type="number" value="" id="strength" name="strength">
    </div>

    <button type="submit" class="btn btn-success">Update Employee Details</button>

</form>
</body>

<script>
            var source = "/employee_table/"+"{{emp_id}}";
            $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                document.getElementById("Name").value = json[0]["Employee Name"];
                document.getElementById("district").value = json[0]["District"];
                document.getElementById("block").value = json[0]["Block"];
                document.getElementById("strength").value = json[0]["strength"];
                document.getElementById("gender").value = json[0]["gender"];
                document.getElementById("MOA").value = json[0]["moa"];
                document.getElementById("community").value = json[0]["community"];
                document.getElementById("panchayat").value = json[0]["Name of Village Panchayat"];
                document.getElementById("designation").value = json[0]["Designation"];
                document.getElementById("qualification").value = json[0]["Educational Qualification"];
                document.getElementById("center").value = json[0]["Name of the Center"];
                document.getElementById("nhis").value = json[0]["nhis_id"];
                document.getElementById("gpf").value = json[0]["gpf"];
                document.getElementById("center").value = json[0]["Name of the Center"];
                document.getElementById("DOB").value = moment(json[0]["Date of Birth"]).format("YYYY-MM-DD");
                document.getElementById("retirementDate").value = moment(json[0]["Date of Retirement"]).format("YYYY-MM-DD");
                document.getElementById("joiningDate").value = moment(json[0]["Date of Joining"]).format("YYYY-MM-DD");
                document.getElementById("joiningDateCurrentPost").value = moment(json[0]["joining_date_current_post"]).format("YYYY-MM-DD");
        },
            error: function (e) {
                alert("error");
            }
        });

    function CalculateAge(){
        var today = new Date();
        var Date1 = document.getElementById("DOB").value;
        var designation = document.getElementById("designation").value;
        var birthDate = new Date(Date1);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        var year = birthDate.getFullYear();
        var month = birthDate.getMonth()+1;
        var day = birthDate.getDate();
        var retire;
        if(designation) {
            switch (designation){
                case 'Cook':
                    retire=58;
                    break;
                case 'Cooking Assistant':
                    retire=58;
                    break;
                case 'Organiser':
                    retire=60;
                    break;
                default:
                    retire=58;
            }
        }

        if (month < 10) {
            month = '0'+month;
        }

        if (day < 10) {
            day = '0'+day;
        }

        year = year + retire;

        var retirementDate = year+"-"+month+"-"+day;
        document.getElementById("Age").value = age;
        document.getElementById("retirementDate").value = retirementDate;
    }

    function CalculateYears(){
        var today = new Date();
        var Date1 = document.getElementById("joiningDate").value;
        var joinDate = new Date(Date1);
        var years = today.getFullYear() - joinDate.getFullYear();
        var m = today.getMonth() - joinDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < joinDate.getDate())) {
            years--;
        }
    document.getElementById("serviceYears").value = years;
    }

</script>

{% endblock %}