    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <style>

        h1, h2, h5{
            text-align: center;
        }

        h1{
            color: darkgreen;
        }

        #dropbtn, #dropbtn1, #dropbtn2, #dropbtn3 {
            color: darkslategrey;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: darkslategrey;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: white
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover #dropbtn #dropbtn1 {
            background-color: #3e8e41;
        }

      #database-icon img, #dashboard-icon img, #insights-icon img, #decisions-icon img{
            height: 100px;
            width: 100px;
      }

      #database-icon {
            top: 300px;
            left: 400px;
            position: absolute;
            text-align: center;
      }

      #dashboard-icon {
            top: 300px;
            left: 550px;
            position: absolute;
            text-align: center;
      }

      #insights-icon {
            top: 300px;
            left: 700px;
            position: absolute;
            text-align: center;
      }

      #decisions-icon {
            top: 300px;
            left: 850px;
            position: absolute;
            text-align: center;
      }

    </style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><strong> Noon Meals Program Database </strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!--<li class="nav-item active">-->
                <!--<div class="dropdown">-->
                <!--<div id="dropbtn">Charts</div>-->
                  <!--<div class="dropdown-content">-->
                    <!--<a href="/beneficiary_plots">Employee Charts</a>-->
                    <!--<a href="/district_plots/sanctioned">Sanction Charts</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <li class="nav-item active">
                <div class="dropdown">
                <div id="dropbtn1">Database</div>
                  <div class="dropdown-content">
                    <a href="/new_employee/{{user._id}}">Add Employee</a>
                  </div>
                </div>
              </li>
              <li class="nav-item active">
                <div class="dropdown">
                <div id="dropbtn2">Retired Employees</div>
                  <div class="dropdown-content">
                    <a href="/get_all_retirements_within/Admin/Admin">All Retirements</a>
                  </div>
                </div>
              </li>
              <!--<li class="nav-item active">-->
                <!--<div class="dropdown">-->
                <!--<div id="dropbtn2">Employees</div>-->
                  <!--<div class="dropdown-content">-->
                    <!--<a href="/all_beneficiaries">Active Employees</a>-->
                    <!--<a href="/retirement_employees">Retired Employees</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <li class="nav-item active">
                <div class="dropdown">
                <div id="dropbtn3">Retirements & 10/20/30</div>
                  <div class="dropdown-content">
                    <a href="/get_retirement">Get Retirements</a>
                    <a href="/get_tentwentythirty">Get 10/20/30</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
            </ul>
      </div>
</nav>


<br><br>

<div class="login-circle">

<h1> NMP Employees Database </h1>
<br>
<h2>Welcome, {{ user.username }}! </h2>

<div style="flex-direction: row; align-items: center; justify-content: space-around; display: flex;">
  <div id="districtLinks" style="flex-direction: column; justify-content: space-between; display: flex;">
      <a href="/district_beneficiaries/Ariyalur">Ariyalur</a>
      <a href="/district_beneficiaries/Chennai">Chennai</a>
      <a href="/district_beneficiaries/Coimbatore">Coimbatore</a>
      <a href="/district_beneficiaries/Cuddalore">Cuddalore</a>
      <a href="/district_beneficiaries/Dharmapuri">Dharmapuri</a>
      <a href="/district_beneficiaries/Dindigul">Dindigul</a>
      <a href="/district_beneficiaries/Erode">Erode</a>
  </div>
  <div style="flex-direction: column; justify-content: space-between; display: flex;">
      <a href="/district_beneficiaries/Kancheepuram">Kancheepuram</a>
      <a href="/district_beneficiaries/Kanyakumari">Kanyakumari</a>
      <a href="/district_beneficiaries/Karur">Karur</a>
      <a href="/district_beneficiaries/Krishnagiri">Krishnagiri</a>
      <a href="/district_beneficiaries/Madurai">Madurai</a>
      <a href="/district_beneficiaries/Nagapattinam">Nagapattinam</a>
      <a href="/district_beneficiaries/Namakkal">Namakkal</a>
  </div>
  <div style="flex-direction: column; justify-content: space-between; display: flex;">
      <a href="/district_beneficiaries/Nilgiris">Nilgiris</a>
      <a href="/district_beneficiaries/Perambalur">Perambalur</a>
      <a href="/district_beneficiaries/PUDUKKOTTAI">PUDUKKOTTAI Pt 1</a>
      <a href="/district_beneficiaries/Pudukkottai">PUDUKKOTTAI Pt 2</a>
      <a href="/district_beneficiaries/Ramanathapuram">Ramanathapuram</a>
      <a href="/district_beneficiaries/Salem">Salem</a>
      <a href="/district_beneficiaries/Sivagangai">Sivagangai</a>
  </div>
  <div style="flex-direction: column; justify-content: space-between; display: flex;">
      <a href="/district_beneficiaries/Thanjavur">Thanjavur</a>
      <a href="/district_beneficiaries/Theni">Theni</a>
      <a href="/district_beneficiaries/Thirunelveli">Thirunelveli</a>
      <a href="/district_beneficiaries/Thiruvallur">Thiruvallur</a>
      <a href="/district_beneficiaries/Thiruvarur">Thiruvarur</a>
      <a href="/district_beneficiaries/Thoothukudi">Thoothukudi</a>
      <a href="/district_beneficiaries/Thiruvannamalai">Thiruvannamalai</a>
  </div>
  <div style="flex-direction: column; justify-content: space-between; display: flex;">
      <a href="/district_beneficiaries/Tirupur">Tirupur</a>
      <a href="/district_beneficiaries/Trichy">Trichy</a>
      <a href="/district_beneficiaries/Vellore">Vellore</a>
      <a href="/district_beneficiaries/Villupuram">Villupuram</a>
      <a href="/district_beneficiaries/Virudhunagar">Virudhunagar</a>
  </div>
</div>

</div>

<script>
</script>