{% extends "base.html" %}
{% block content %}

<button onclick="downloadPDF()">Download Report</button>

<div id="empList">
</div>

<script>

    function downloadPDF() {
    var month = "{{start_date}}";
    var year = "{{end_date}}";
    var source = "/raw_ttt/"+month+"/"+year;

        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                for(var i = 0; i< json.length; i++){
                    var joiningDate = moment(json[i]["Date of JoiningV2"]).format("DD/MM/YYYY");
                    var inputDate = new Date(moment(json[i]["Date of JoiningV2"]).format("YYYY"), moment(json[i]["Date of JoiningV2"]).format("MM"), moment(json[i]["Date of JoiningV2"]).format("DD"));
                    var now = moment(inputDate);
                    console.log(joiningDate, inputDate);
                    json[i]["yearsInService"] = Math.round(moment.duration(now.diff(joiningDate)).asYears());
                }

                var empCount = d3.nest()
                    .key(function (d) {
                        return d.District;
                    })
                    .key(function (d) {
                        return d.yearsInService;
                    })
                    .rollup(function (v) {
                        return v.length;
                    })
                    .entries(json);

                var designationWise = d3.nest()
                    .key(function (d) {
                        return d.Designation;
                    })
                    .key(function (d) {
                        return d.yearsInService;
                    })
                    .rollup(function (v) {
                        return v.length;
                    })
                    .entries(json);

                var doc = new jsPDF();

                var columns = ["District", "10 Years", "20 Years", "30 Years"];
                var rows = [];
                doc.text(25,25, 'District Wise Summaries of Employees completing 10/20/30 years during '+month+'/'+year);
                for (var a = 0; a < empCount.length; a++) {
                    if(empCount[a]['values'].length === 3) {
                    rows.push([[[empCount[a]['key']]], [[empCount[a]['values'][0]['values']]],
                        [[empCount[a]['values'][1]['values']]], [[empCount[a]['values'][2]['values']]]]);
                    }

                    else if(empCount[a]['values'].length === 2) {
                        if(empCount[a]['values'][0]['key'] === '10' && empCount[a]['values'][1]['key'] === '20') {
                            rows.push([[[empCount[a]['key']]], [[empCount[a]['values'][0]['values']]],
                                [[empCount[a]['values'][1]['values']]], [[0]]]);
                        }

                        else if(empCount[a]['values'][0]['key'] === '20' && empCount[a]['values'][1]['key'] === '30') {
                            rows.push([[[empCount[a]['key']]], [[0]], [[empCount[a]['values'][0]['values']]],
                                [[empCount[a]['values'][1]['values']]]]);
                        }
                        else if(empCount[a]['values'][0]['key'] === '10' && empCount[a]['values'][1]['key'] === '30') {
                            rows.push([[[empCount[a]['key']]], [[empCount[a]['values'][0]['values']]],
                                [[0]], [[empCount[a]['values'][1]['values']]]]);
                        }
                    }

                    else if(empCount[a]['values'].length === 1) {
                        if(empCount[a]['values'][0]['key'] === '10') {
                            rows.push([[[empCount[a]['key']]], [[empCount[a]['values'][0]['values']]],
                                [[0]], [[0]]]);
                        }
                        else if(empCount[a]['values'][0]['key'] === '20') {
                            rows.push([[[empCount[a]['key']]], [[0]], [[empCount[a]['values'][0]['values']]],
                                [[0]]]);
                        }
                        else if(empCount[a]['values'][0]['key'] === '30') {
                            rows.push([[[empCount[a]['key']]], [[0]],
                                [[0]], [[empCount[a]['values'][0]['values']]]]);
                        }
                    }
                }

                doc.autoTable(columns, rows, {startY: 35});

                var columns1 = ["Designation", "10 Years", "20 Years", "30 Years"];
                var rows1 = [];

                doc.addPage();

                doc.text(25,25, 'Designation-Wise Employees completing 10/20/30 years during '+month+'/'+year);

                for (var b = 0; b < designationWise.length; b++) {
                    if(designationWise[b]['values'].length === 3) {
                    rows1.push([[[designationWise[b]['key']]], [[designationWise[b]['values'][0]['values']]],
                        [[designationWise[b]['values'][1]['values']]], [[designationWise[b]['values'][2]['values']]]]);
                    }

                    else if(designationWise[b]['values'].length === 2) {
                        if(designationWise[b]['values'][0]['key'] === '10' && designationWise[b]['values'][1]['key'] === '20') {
                            rows1.push([[[designationWise[b]['key']]], [[designationWise[b]['values'][0]['values']]],
                                [[designationWise[b]['values'][1]['values']]], [[0]]]);
                        }

                        else if(designationWise[b]['values'][0]['key'] === '20' && designationWise[b]['values'][1]['key'] === '30') {
                            rows1.push([[[designationWise[b]['key']]], [[0]], [[designationWise[b]['values'][0]['values']]],
                                [[designationWise[b]['values'][1]['values']]]]);
                        }
                        else if(designationWise[b]['values'][0]['key'] === '10' && designationWise[b]['values'][1]['key'] === '30') {
                            rows1.push([[[designationWise[b]['key']]], [[designationWise[b]['values'][0]['values']]],
                                [[0]], [[designationWise[b]['values'][1]['values']]]]);
                        }
                    }

                    else if(designationWise[b]['values'].length === 1) {
                        if(designationWise[b]['values'][0]['key'] === '10') {
                            rows1.push([[[designationWise[b]['key']]], [[designationWise[b]['values'][0]['values']]],
                                [[0]], [[0]]]);
                        }
                        else if(designationWise[b]['values'][0]['key'] === '20') {
                            rows1.push([[[designationWise[b]['key']]], [[0]], [[designationWise[b]['values'][0]['values']]],
                                [[0]]]);
                        }
                        else if(designationWise[b]['values'][0]['key'] === '30') {
                            rows1.push([[[designationWise[b]['key']]], [[0]],
                                [[0]], [[designationWise[b]['values'][0]['values']]]]);
                        }
                    }
                }

                doc.autoTable(columns1, rows1, {startY: 35});

                doc.save('test.pdf')
            },
            error: function (e) {
                alert("error");
            }
        });
    }

    var month = "{{start_date}}";
    var year = "{{end_date}}";
    var source = "/raw_ttt/"+month+"/"+year;

        $.ajax({
            type: 'GET',
            url: source,
            contentType: "application/json",
            dataType: 'json',
            success: function (json) {
                for(var i = 0; i< json.length; i++){
                    var joiningDate = moment(new Date(json[i]["Date of Joining"])).format("MM/DD/YYYY");
                    var inputDate = new Date(year, month-1, 1);
                    var now = moment(inputDate);
                    json[i]["yearsInService"] = Math.round(moment.duration(now.diff(joiningDate)).asYears());
                }

                var empCount = d3.nest()
                    .key(function (d) {
                        return d.District;
                    })
                    .key(function (d) {
                        return d.yearsInService;
                    })
                    .rollup(function (v) {
                        return v.length;
                    })
                    .entries(json);

                var tbl = $("<table class='table table-bordered table-dark' id='empDetails' style='margin-top: 4%'/>");
                $("#empList").append(tbl);
                var hr = "<tr>";
                var th10 = "<th onclick='sortTable(0)' style='text-align:center;vertical-align:middle'>" + "S. No" + "</th>";
                var th1 = "<th onclick='sortTable(1)' style='text-align:center;vertical-align:middle'>" + "Employee Name" + "</th>";
                var th2 = "<th onclick='sortTable(2)' style='text-align:center;vertical-align:middle'>" + "Center" + "</th>";
                var th3 = "<th onclick='sortTable(3)' style='text-align:center;vertical-align:middle'>" + "District" + "</th>";
                var th4 = "<th onclick='sortTable(3)' style='text-align:center;vertical-align:middle'>" + "Block" + "</th>";
                var th5 = "<th onclick='sortTable(4)' style='text-align:center;vertical-align:middle'>" + "Designation" + "</th>";
                var th6 = "<th onclick='sortTable(5)' style='text-align:center;vertical-align:middle'>" + "Date Of Birth" + "</th>";
                var th7 = "<th onclick='sortTable(6)' style='text-align:center;vertical-align:middle'>" + "Service Years" + "</th>";
                $("#empDetails").append(hr + th10 + th1 + th2 + th3 + th4 + th5 + th6);
                for (var j = 0; j < json.length; j++) {
                    var row = $('<tr></tr>').html('<td>' + parseInt(j+1) + '</td>'+
                        '<td>'+ json[j]["Employee Name"] +'</td>'+
                        '<td>'+json[j]["Name of the Center"]+'</td>'+
                        '<td>'+json[j]["District"]+'</td>'+
                        '<td>'+json[j]["Block"]+'</td>'+
                        '<td>'+json[j]["Designation"] +'</td>'+
                        '<td>'+json[j]["Date of Joining"] +'</td>'+
                        '<td>'+json[j]["yearsInService"] +'</td>');
                    $("#empDetails").append(row);
                }
            },
            error: function (e) {
                alert("error");
            }
        });
</script>

{% endblock %}
